<main class="p-5" style="height: 100vh;">
    <h2 align="center">Registre a presença do participante</h2>

    <form
        method="POST"
        action="{% url 'submit_participant' participant_id=participant_id %}"
        style="
            height: 100%;
            max-width: 600px;
            margin: 0 auto 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        "
    >
        {% csrf_token %}

        {% for field in form %}
            <div class="col-sm-12 mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}

        <button class="btn btn-lg btn-primary" type="submit">Enviar</button>

        <p class="text-center text-muted">© Arruda² – {% now "Y" %}</p>
    </form>
</main>
